 body {
	 margin:0;
	 font-family: 'Raleway', sans-serif
 }
 * {
	 box-sizing: border-box
 }
 header{
	 background: url('../kep/background.jpg');
	 color: white;
	 font-size:80px;
	 font-weight:700;
	 padding:80px 60px;
	 text-shadow: 0 0 20 rgba(0,0,0),.8
 }
 .wrapper {
  max-width:1000px;
  margin: 0 auto
 }
 .jpg{
	width: 600px;
	height: 300px
 }
 .content{
	background:#333030
 }
 .content::after{
	 content:"";
	 clear:both;
	 display:table;
 }
 
 
 nav {
	width: 25%;
	float:left
 }
 nav ul{
	margin:0;
	padding:30px;
	list-style:none
 }
 nav ul li{
	border-bottom:2px dashed rgba(255 ,255 ,255,.2)
 }
 nav a {
	color:white;
	text-decoration:none;
	padding:15px 0;
	display:block
 }
 nav a:hover{
	padding:15px;
	background: rgba(255,255,255,.1)
 }
 main{
	width:75%; background:white; 
	float:left;
	padding:30px
 }
 
 